#    things not to be saved into the repository
#    files given without path names are never uploaded,
#    no matter where they occur in the file tree.
#
install.info
Makefile

*.x
*.o
*.log

libddi.a

gamess.lis

*.log
*.dat
*.rst
*.trj
*.F*

object/*
