#    This file lists files --not-- to be uploaded into the repository.
#
#    files given without path names are never uploaded,
#          no matter where they occur in the file tree.
#    files with leading stroke means skip in top level of repository only.
#    files with bang explictly include files that would otherwise be
#          ignored:  !object/int1.o   would cancel a rule about *.o
#
/Makefile
install.info
clg
libddi.a
gamess.lis

*.x
*.o
*.log
*.dat
*.rst
*.trj
*.F*

#    some log files that are intended to be included in the repository.
!vb2000/test_results/*.log
!/tools/ci-tools/select/*.log

object/*
source/checkgms
